.phone-buffer {
    margin: 20px;
}

.power-button {}

.volume-increase {}

.volume-decrease {}

.phone-body {
    width: 400px;
    height: 780px;

    background-color: black;
    border-radius: 30px;
    border-color: silver;
    border-width: 6px;
    border-style: solid;

    padding: 20px 10px;

    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

.camera {
    position: relative;
    top: -835px;
    left: 185px;

    padding: 5px;
    text-shadow: 0px 1px 6px rgb(35, 65, 75, .7);
    color: black;
}
