<div class="phone-screen">
    <div class="home-screen"></div>
</div>

<div class="phone-navigation">
    <button mat-icon-button (click)="navigateGoBack()" class="navigation-buttons go-back"><mat-icon>arrow_backward</mat-icon></button>
    <button mat-icon-button (click)="navigateHome()" class="navigation-buttons home"><mat-icon>radio_button_unchecked</mat-icon></button>
    <button mat-icon-button (click)="navigateSwitchApps()" class="navigation-buttons switch-apps"><mat-icon>menu</mat-icon></button>
</div>
